<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Website</title>
    <link rel="stylesheet" href="main.css">
    <%- include('./components/import') %>
        <style>
            .alert {
                padding: 20px;
                color: rgb(190, 13, 13);
                text-align: center;
            }
        </style>

</head>

<body>
    <%- include('./components/navbar') %>

        <% if(message||error){ %>
            <div class="alert alert-success" id="error-msg">
                <%- message|| error %>
            </div>
            <% } %>
                <main>
                    <div class="container">
                        <% if (data && data.length> 0) { %>
                            <% data.forEach(blog=> { %>
                                <div class="card">
                                    <h2 class="truncate">
                                        <%- blog.title %>
                                    </h2>
                                    <h3 class="truncate">
                                        <%- blog.subtitle %>
                                    </h3>

                                    <p>Owner: <%- blog.user.username %>
                                    </p>
                                    <a href="/blog/<%- blog.id %>"><button>Read More</button></a>

                                </div>
                                <% }) %>
                    </div>
                    <% } else { %>
                        <p>No blogs available.</p>
                        <% } %>
                </main>

                <%- include('./components/Footer') %>
</body>
<script src="/error-handler.js"></script>
<script>
    window.onload = () => {
        hideErrorMessage('error-msg');
    };
</script>


</html>