<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Journey of Web Development - Your Website</title>
    <link rel="stylesheet" href="/singleblog.css">
</head>

<body>
    <%- include('./components/navbar') %>


        <main>
            <div class="blog-container">
                <h1>
                    <%= data.title %>
                </h1>
                <p>Author: <%- data.user.username %></p>
                <p class="blog-meta">
                    <%= data.createdAt %>
                </p>

                <div class="blog-image">
                    <img src="<%- data.image %>" alt="<%- data.title %>">
                </div>
                <p>
                    <%= data.subtitle %>
                </p>
                <div class="blog-content">
                    <p>
                        <%= data.description %>
                    </p>
                </div>
                <a href="/deletepost/<%= data.id %>"><button>Delete</button></a>
                <a href="/editpost/<%= data.id %>"><button>Update</button></a>

            </div>
        </main>

        <footer>
            <p>&copy; 2024 Your Website. All Rights Reserved.</p>
        </footer>
</body>

</html>