<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Journey of Web Development - Your Website</title>
    <link rel="stylesheet" href="/singleblog.css">
    <%- include('./components/import') %>
</head>

<body>
    <%- include('./components/navbar') %>
        <% if(message || error){ %>
            <div id="error-message">
                <%= message ||error %>
            </div>
            <% } %>

                <main>
                    <div class="blog-container">
                        <h1>
                            <%- data?.title %>
                        </h1>
                        <p>Author: <%- data.user?.username %></p>
                        <p class="blog-meta">
                            <%= data?.createdAt %>S
                        </p>

                        <div class="blog-image">
                            <img src="<%- data?.image %>" alt="<%- data.title %>">
                        </div>
                        <p>
                            <%- data.subtitle %>
                        </p>
                        <div class="blog-content">
                            <p>
                                <%- data?.description %>
                            </p>
                        </div>
                    </div>
                    <div>
                        <% if (currentUserId) { %>
                            <% if (currentUserId===data?.userId) { %>
                                <a href="/editpost/<%= data.id %>"><button>Update</button></a>
                                <a href="/deletepost/<%= data.id %>"><button>Delete</button></a>
                                <% } %>
                                    <% } %>
                    </div>
                </main>
                <%- include('./components/Footer') %>
</body>
<script src="/error-handler.js"></script>
<script>
    window.onload = () => {
        hideErrorMessage('error-message');
    };
</script>

</html>
